<ion-view view-title="Cart">
  <ion-content>

    <div ng-hide="cartCtrl.cart.length">Your shopping cart is empty.</div>

    <div ng-show="cartCtrl.cart.length">
      <div class="list">
        <div class="item item-thumbnail-left item-text-wrap" ng-repeat="product in cartCtrl.cart">

          <img ng-src="{{product.picture}}">
          <div class="row">

            <div class="col col-60">
              <h4>{{ product.name }}</h4>
              <p style="font-size: 10px">Price: {{ product.price | currency : '' : 0 }} miles <br>
                qty: {{product.quantity}}</p>
            </div>
            <div class="col col-40">
              <h4>{{product.price * product.quantity | currency:'':0}} miles</h4>
            </div>
          </div>
          <div style="text-align: right">
            <button class="button-small button-clear button-assertive" ng-click="cartCtrl.removeProduct($index)">Remove</button>
          </div>
        </div>
      </div>

      <div>
        <button class="button button-full button-assertive">Proceed to checkout</button>
      </div>
    </div>

  </ion-content>
</ion-view>
