<ion-view view-title="" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    <div class="hero slide-up" style="background-color: #ef473a">
    <!--<div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">-->
      <!--<div class="item item-icon-right" style="background-color: #ef473a; border-width: 0px">-->
        <!--<a class="icon ion-edit" ui-sref="tab.edit-profile" style="color: white"></a>-->
      <!--</div>-->
      <div class="content">
        <div class="avatar" ui-sref="tab.edit-profile" style="background-image: url('{{ acctCtrl.profile.gravatar }}');"></div>
        <h3><a class="light">{{ acctCtrl.profile.displayName }}</a></h3>
        <p>Available: {{ acctCtrl.profile.balance.available }} &nbsp; Pending: {{ acctCtrl.profile.balance.pending }}</p>
      </div>
    </div>
    <div class="list">

      <div class="item item-divider">Buyer</div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-download-outline"></i>
        What you bought
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <div class="item item-divider">Seller</div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-paper-outline"></i>
        Manage products
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-upload-outline"></i>
        What you sold
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <div class="item item-divider">General</div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-bag"></i>
        Redeem miles
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-paper-outline"></i>
        Terms and policy
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-gear-outline"></i>
        Settings
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <br>
      <a class="button button-block button-assertive" ng-click="acctCtrl.logout()">Logout</a>

    </div>


  </ion-content>
</ion-view>
