<ion-view view-title="Edit Profile">
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img ng-src="{{ profileCtrl.profile.gravatar }}">
        <h2>{{ profileCtrl.profile.displayName }}</h2>
        <p> {{profileCtrl.profile.firstname }} {{profileCtrl.profile.lastname}}</p>
      </div>

      <label class="item item-input">
        <span class="input-label">Display Name: </span>
        <input type="text" ng-model="profileCtrl.profile.displayName" required>
      </label>

      <label class="item item-input">
        <span class="input-label">First Name: </span>
        <input type="text" ng-model="profileCtrl.profile.firstname" required>
      </label>

      <label class="item item-input">
        <span class="input-label">Last Name: </span>
        <input type="text" ng-model="profileCtrl.profile.lastname" required>
      </label>

      <label class="item item-input">
        <span class="input-label">Date of Birth: </span>
        <input type="date" ng-model="profileCtrl.dob" required>
      </label>

      <label class="item item-input">
        <span class="input-label">Gender: </span>
        <select ng-model="profileCtrl.profile.gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Email: </span>
        <input type="email" ng-model="profileCtrl.profile.email" readonly>
      </label>

      <label class="item item-input">
        <span class="input-label">Phone Number: </span>
        <input type="number" ng-model="profileCtrl.profile.number">
      </label>

      <label class="item item-input">
        <span class="input-label">Address Line 1: </span>
        <input type="text" ng-model="profileCtrl.profile.addr.l1">
      </label>

      <label class="item item-input">
        <span class="input-label">Address Line 2: </span>
        <input type="text" ng-model="profileCtrl.profile.addr.l2">
      </label>

      <label class="item item-input">
        <span class="input-label">City: </span>
        <input type="text" ng-model="profileCtrl.profile.addr.city">
      </label>

      <label class="item item-input">
        <span class="input-label">State: </span>
        <input type="text" ng-model="profileCtrl.profile.addr.state">
      </label>

      <label class="item item-input">
        <span class="input-label">Country: </span>
        <input type="text" ng-model="profileCtrl.profile.addr.country">
      </label>

      <label class="item item-input">
        <span class="input-label">Zip Code: </span>
        <input type="number" ng-model="profileCtrl.profile.addr.zipcode">
      </label>

      <input type="submit" class="button button-block button-assertive" value="Save" ng-click="profileCtrl.updateProfile()">
    </div>


  </ion-content>
</ion-view>
