<ion-view title="Items Bought">
  <ion-content>

    <div class="default-msg" ng-if="!boughtOrderCtrl.orders.length">You haven't placed any order yet.</div>

    <div class="list" ng-if="boughtOrderCtrl.orders.length">
      <a class="item item-icon-right" ng-repeat="order in boughtOrderCtrl.orders | orderBy: 'status': true"
         ui-sref="tab.bought-order-review({orderKey: order.$id})">
        <div class="row">
          <div class="col col-66">
            <h3>{{order.displayName}}</h3>
            <p>Ordered on {{order.orderTimestamp | date:'mediumDate'}}</p>
            <p>Order #: {{order.orderNumber}}</p>
          </div>
          <div class="col col-33">
            <span class="item-note">{{order.status}}</span>
          </div>
        </div>

        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
