<ion-view title="Items Sold">
  <ion-content>

    <div class="default-msg" ng-if="!soldOrderCtrl.orders.length">You haven't sold anything yet.</div>

    <div class="list" ng-if="soldOrderCtrl.orders.length">
      <a class="item item-icon-right" ng-repeat="order in soldOrderCtrl.orders | orderBy: 'status': true"
         ui-sref="tab.sold-order-review({orderKey: order.$id})">
        <div class="row">
          <div class="col col-66">
            <h3>{{order.displayName}}</h3>
            <p>Ordered on {{order.orderTimestamp | date:'mediumDate'}}</p>
            <p>Order #: {{order.orderNumber}}</p>
          </div>
          <div class="col col-33">
            <span class="item-note">{{order.status}}</span>
          </div>
        </div>

        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
